body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} 



h1 {
  margin-bottom: 2rem;
  color: #333;
}

.roles {
  display: flex;
  justify-content: space-around;
  gap: 6rem;
}

.role {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 12px;
}

.role img {
  background: linear-gradient(180deg, #ffffff, #eff0ff);
  border-radius: 12px;
  width: 300px;
  height: 300px;
}

.role:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}


