body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: radial-gradient(circle at center, #e0cd8f, #b38941 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Niveau select box */
#niveau-select {
  position: absolute;
  top: 110px;
  margin-bottom: 20px;
  text-align: center;
}


#niveau-select select {
  padding: 5px 7px;
  font-size: 1rem;
  border-radius: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}


#start-btn {
  position: absolute;       /* zwevend boven de box */
  top: 80px;                 /* verticaal centreren */
  left: 50%;                /* horizontaal centreren */
  transform: translate(-50%, -50%); /* echt in het midden */
  padding: 12px 24px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 10;              /* boven de question-box */
}

#start-btn:hover {
  background-color: #ffe5b1;
}
.game-container {
  text-align: center;
  width: 800px;
}





.timer-display {
  position: relative;
  bottom: -100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.track {
  position: relative;
  width: 800px;
  height: 100px;
  margin-bottom: 40px;
}

.road {
  width: 100%;
  height: 60px;
  background-color: #333;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  overflow: hidden;
}

.lane-stripes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.stripe {
  width: 20px;
  height: 8px;
  background-color: white;
  border-radius: 4px;
}

.flag {
  position: absolute;
  top: -50px;
  left: 680px;
  width: 70px;
  height: auto;
  transition: left 0.8s ease;

}
.car {
  position: absolute;
  top: -5px;
  left: 20px;
  width: 150px;
  height: auto;
  transition: left 0.8s ease;
}

#reset-btn {
  position: absolute; 
  top: -70px;            /* afstand vanaf de bovenkant */
  right: 10px; 
  width: 50px;
  height: 50px; 
  cursor: pointer;    
}



.question-box {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;              /* witte tekst */
  font-size: 1.2em;         /* iets grotere tekst */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  
}

.overlay.hidden {
  display: none;
}

.overlay.start {
  backdrop-filter: blur(3px);
}

.overlay.error {
  background-color: rgba(255, 71, 71, 0.696);
  color: white;
  font-size: 24px;
  font-weight: bold;
}





.wetenschap {
  background-image: url("wetenschap.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 1.2em;
}

.geschiedenis {
  background-image: url("geschiedenis.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 1.2em;

}
.leaderboard {
  position: absolute;
  top: 3px;
  left: 15px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sport {
  background-image: url("sport.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 1.2em;
}


.answers button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #f77f00;
  color: white;
  cursor: pointer;
}

.answers button:hover {
  background-color: #d62828;
}

.streak-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.streak-icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

#streak-count {
  font-size: 24px;
  font-weight: bold;
  color: #d65c28;
}

